<html>
    <body>
       <div class="container-1">
            <div class="side-container">
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(1)" type="button">BarChart</button>
                </div>
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(2)" type="button">Tidy tree</button>
                </div>
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(3)" type="button">ScatterPlot</button>
                </div>
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(4)" type="button">LineGraph</button>
                </div>
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(5)" type="button">RadialTree</button>
                </div>
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(6)" type="button">PieChart</button>
                </div>
                <div class="side-container-content">
                    <button mat-button (click)="toggleView(7)" type="button">EdgeBundling</button>
                </div>
            </div>
            <div class="main-container">
                <div *ngIf="isBarChart">
                    <h1>Barchart layout </h1>
                    <app-bar-chart></app-bar-chart>
                </div>
                <div *ngIf="isTidyTree">
                    <h1>Tidy tree layout </h1>
                    <app-tidy-tree></app-tidy-tree>
                </div>
                <div *ngIf="isScatterPlot">
                    <h1>ScatterPlot layout </h1>
                    <app-scatter-plot></app-scatter-plot>
                </div>

                <div *ngIf="isLineGraph">
                    <h1>Line graph layout </h1>
                    <app-line-graph></app-line-graph>
                </div>
                <div *ngIf="isRadialTree">
                    <h1>Radial Cluster layout </h1>
                    <app-radial-tree></app-radial-tree>
                </div>
                <div *ngIf="isPieChart">
                    <h1>PieChart layout </h1>
                    <app-pie-chart></app-pie-chart>
                </div>
                <div *ngIf="isEdgeBundling">
                    <h1>Edge bundle layout</h1>
                    <app-edge-bundling></app-edge-bundling>
                </div>
            </div>
       </div>
    </body>
</html>
