<div>
    <p>
        EdgeBundling is one of my favourites; you can use this to display a complex network among different nodes.
        Nodes can be domain specific such as Airports in a world map and the network could represent the air-routes 
        between airports, train routes, etc.
        <br>
        <b><i>In the below diagram notice that each node is represented by a color, hovering over which the adjacent link 
        is highlighted. 
        Also notice the colors of the links, if the links and nodes have similar color, that means the information of 
        a node travels from sourceNode to targetNode. And if the color is different it indicates the flow of
        information from targetNode to sourceNode(highlighted node).
        </i></b>
        
    </p>
    <svg #edgeBundling></svg>
</div>